<section class="slider__wrapper">
  <div class="slider__btn slider__btn-left"></div>
  <div class="slider__main">

    <div class="slider__window">
      <div class="slider__image-train"></div>
    </div>

    <div class="slider__dots"></div>
    <p class="slider__text"></p>
  </div>
  <div class="slider__btn slider__btn-right"></div>
</section>
<section class="slider__selector"></section>
