<section class="image-slider__wrapper">
  <div class="image-slider__btn image-slider__btn-left"></div>
  <div class="image-slider__main">

    <div class="image-slider__window">
      <div class="image-slider__image-train"></div>
    </div>

    <div class="image-slider__dots"></div>
    <p class="image-slider__text"></p>
  </div>
  <div class="image-slider__btn image-slider__btn-right"></div>
</section>
<section class="image-slider__selector"></section>
